/*

GENERAL

*/
p, div, a, h1, h2, h3{
    font-family: 'Roboto', sans-serif;
    color: #606060;
}
button{
    font-family: 'Roboto', sans-serif;
    text-transform: uppercase;
    font-size: 1.2rem;
    color: #fff;
    border: none;
    border-radius: 2px
}
p {
    font-size: 1.3rem;
}
img { 
    width: 100%;
}

h1{
    font-weight: normal;
}
.relative{
    position: relative;
}

.white{
    color:white;
}

.w100{
    width: 100%;
}
.right{
    float: right;
}
.left{
    float: left;
}
.clearfix:after { 
   content: "."; 
   visibility: hidden; 
   display: block; 
   clear: both;
}
.mCenter{
    margin-right: auto;
    margin-left: auto;
}
.center{
    text-align: center;
}
.container{
    padding: 10px;
}
.page-content{
    padding-top: 0!important;
}

.slidePopup{
    display: none;
    position: absolute;
    bottom: 0; right: 0; left: 0;
    background-color: white;
    z-index: 5001;
}
.slidePopup p{
    margin-top: 5px;
    font-size: 1.5rem;
}

.color-bg p,
.color-bg a,
.color-bg h1,
.color-bg h2 {
    color:#fff;
}
.color-bg.color-finder{
    background-color: #04a9b4; 
}
.color-font.color-finder{
    color: #04a9b4; 
}

.color-bg.color-found{
    background-color: #ff9800; 
}
.color-font.color-found{
    color: #ff9800; 
}

.color-bg.color-tertiary{
    background-color: #606060; 
}
.color-font.color-tertiary{
    color: #606060; 
}


.header-big{
    height: 50vh;
    position: relative;
    padding-left: 20px;
}
.header-big h1{
    margin: 0;
    position: absolute;
    bottom: 0;
    margin-bottom: 20px;
}
.mosaic{
    background-image: url('../res/img/pattern.png');
    background-size: 100%;
}
.separator{
    width: 50px;
    height: 10px;
    border-radius: 30px;
    display: block;
    margin-top: 20px;
    margin-bottom: 20px;
}
.separator:after{    
    content: "";
    width: 10px;
    height: 10px;
    border-radius: 100%;
    display: block;
    margin-left: 55px;
    background: #04a9b4;
}
.rounded{
    border-radius: 50%;
}

.btn img{
    margin-right: 10px;
    width: 25px;
    float: left;
}
.small-icon {
    width: 20px;
}
.mr10{margin-right: 10px;}
.ml10{margin-left: 10px;}
.mt10{margin-top: 10px;}
.mb10{margin-top: 10px;}

.pt10{ padding-top: 10px; }
.pb10{ padding-bottom: 10px; }
.pr10{ padding-right: 10px; }
.pl10{ padding-left: 10px; }

.btn{
    padding: 10px 20px 10px 10px;
    margin-right: 7px;
}
.overlay{
    position: absolute;
    top: 0;bottom: 0;right: 0;left: 0;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    background-color: rgba(0, 0, 0, .5);
    z-index: 5000;
    display: none;
}

/*

LOGIN PAGE

*/
.login .logo{
    width: 80%;
    display: block;
    margin: 0 auto;
}
.login .footer{
    position: absolute;
    bottom: 20px;
    text-align: center;
    margin: 0 auto;
    width: calc(100% - 20px);
}
.fb{
    background-color:#617BB6;
    padding: 10px 20px;
    font-weight: bold;
}

/*

CHOOSE CATEGORIES PAGE

*/
.list-categorie .categorie-button{
    float: left;
    width: 33%;
    text-align: center;
    margin: 10px 0;
}
.categorie-button button{
    width: 80px;
    height: 80px;
    transition: 300ms background-color ease-in-out; 
}
.categorie-button span{
    transition: 300ms color ease-in-out; 
}
.categorie-button.active button{
    background-color: #04a9b4;
}
.categorie-button.active span{
    color: #04a9b4;
}
.categorie-button button img{
    width: 70%;
}
.categorie-button span{
    width: 100%;
    text-align: center;
    display: block;
    padding-top: 5px;
    font-size: 1.2rem;
}


/*

FAIL PAGE

*/
.center-container {
    position: absolute;
    top: 40px;
    RIGHT: 0;
    left: 0;
    bottom: 0;
}
.center-content{
    width: 100%;
    text-align: center;
    position: absolute;
    right: 0;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
}


.loader {
  color: #04a9b4;
  font-size: 90px;
  text-indent: -9999em;
  overflow: hidden;
  width: 1em;
  height: 1em;
  border-radius: 50%;
  margin: 72px auto;
  position: relative;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation: load6 1.7s infinite ease, round 1.7s infinite ease;
  animation: load6 1.7s infinite ease, round 1.7s infinite ease;
}
@-webkit-keyframes load6 {
  0% {
    box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
  }
  5%,
  95% {
    box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
  }
  10%,
  59% {
    box-shadow: 0 -0.83em 0 -0.4em, -0.087em -0.825em 0 -0.42em, -0.173em -0.812em 0 -0.44em, -0.256em -0.789em 0 -0.46em, -0.297em -0.775em 0 -0.477em;
  }
  20% {
    box-shadow: 0 -0.83em 0 -0.4em, -0.338em -0.758em 0 -0.42em, -0.555em -0.617em 0 -0.44em, -0.671em -0.488em 0 -0.46em, -0.749em -0.34em 0 -0.477em;
  }
  38% {
    box-shadow: 0 -0.83em 0 -0.4em, -0.377em -0.74em 0 -0.42em, -0.645em -0.522em 0 -0.44em, -0.775em -0.297em 0 -0.46em, -0.82em -0.09em 0 -0.477em;
  }
  100% {
    box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
  }
}
@keyframes load6 {
  0% {
    box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
  }
  5%,
  95% {
    box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
  }
  10%,
  59% {
    box-shadow: 0 -0.83em 0 -0.4em, -0.087em -0.825em 0 -0.42em, -0.173em -0.812em 0 -0.44em, -0.256em -0.789em 0 -0.46em, -0.297em -0.775em 0 -0.477em;
  }
  20% {
    box-shadow: 0 -0.83em 0 -0.4em, -0.338em -0.758em 0 -0.42em, -0.555em -0.617em 0 -0.44em, -0.671em -0.488em 0 -0.46em, -0.749em -0.34em 0 -0.477em;
  }
  38% {
    box-shadow: 0 -0.83em 0 -0.4em, -0.377em -0.74em 0 -0.42em, -0.645em -0.522em 0 -0.44em, -0.775em -0.297em 0 -0.46em, -0.82em -0.09em 0 -0.477em;
  }
  100% {
    box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
  }
}
@-webkit-keyframes round {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes round {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
