/*

GENERAL

*/
p, div, a, h1, h2, h3{
    font-family: 'Roboto', sans-serif;
    color: #606060;
}
button{
    font-family: 'Roboto', sans-serif;
    text-transform: uppercase;
    font-size: 1.2rem;
    color: #fff;
    border: none;
    border-radius: 2px
}
p {
    font-size: 1.3rem;
}
img { 
    width: 100%;
}

h1{
    font-weight: normal;
}
.relative{
    position: relative;
}

.w100{
    width: 100%;
}
.right{
    float: right;
}
.clearfix:after { 
   content: "."; 
   visibility: hidden; 
   display: block; 
   clear: both;
}
.mCenter{
    margin-right: auto;
    margin-left: auto;
}
.center{
    text-align: center;
}
.container{
    padding: 10px;
}
.page-content{
    padding-top: 0!important;
}

.slidePopup{
    display: none;
    position: absolute;
    bottom: 0; right: 0; left: 0;
    background-color: white;
    z-index: 5001;
}
.slidePopup p{
    margin-top: 5px;
    font-size: 1.5rem;
}

.color-bg p,
.color-bg a,
.color-bg h1,
.color-bg h2 {
    color:#fff;
}
.color-bg.color-primary{
    background-color: #04a9b4; 
}
.color-font.color-primary{
    color: #04a9b4; 
}

.color-bg.color-secondary{
    background-color: #ff9800; 
}
.color-font.color-secondary{
    color: #ff9800; 
}

.color-bg.color-tertiary{
    background-color: #606060; 
}
.color-font.color-tertiary{
    color: #606060; 
}


.header-big{
    height: 50vh;
    position: relative;
    padding-left: 20px;
}
.header-big h1{
    margin: 0;
    position: absolute;
    bottom: 0;
    margin-bottom: 20px;
}
.mosaic{
    background-image: url('../res/img/pattern.png');
    background-size: 100%;
}
.separator{
    width: 50px;
    height: 10px;
    border-radius: 30px;
    display: block;
    margin-top: 20px;
    margin-bottom: 20px;
}
.separator:after{    
    content: "";
    width: 10px;
    height: 10px;
    border-radius: 100%;
    display: block;
    margin-left: 55px;
    background: #04a9b4;
}
.rounded{
    border-radius: 50%;
}

.btn img{
    margin-right: 10px;
    width: 25px;
    float: left;
}

.btn{
    padding: 10px 20px 10px 10px;
    margin-right: 7px;
}
.overlay{
    position: absolute;
    top: 0;bottom: 0;right: 0;left: 0;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    background-color: rgba(0, 0, 0, .5);
    z-index: 5000;
    display: none;
}

/*

LOGIN PAGE

*/
.login .logo{
    width: 80%;
    display: block;
    margin: 0 auto;
}
.login .footer{
    position: absolute;
    bottom: 20px;
    text-align: center;
    margin: 0 auto;
    width: calc(100% - 20px);
}
.fb{
    background-color:#617BB6;
    padding: 10px 20px;
    font-weight: bold;
}

/*

CHOOSE CATEGORIES PAGE

*/
.categorie-button{
    position: relative;
    width: 80px;
    height: 105px;
    display: inline-block;
}
.w100 .categorie-button{    
    margin: 3% 6%;
}
.categorie-button button{
    width: 80px;
    height: 80px;
    transition: 300ms background-color ease-in-out; 
}
.categorie-button span{
    transition: 300ms color ease-in-out; 
}
.categorie-button.active button{
    background-color: #04a9b4;
}
.categorie-button.active span{
    color: #04a9b4;
}
.categorie-button button img{
    width: 70%;
}
.categorie-button span{
    width: 100%;
    text-align: center;
    display: block;
    padding-top: 5px;
    font-size: 1.2rem;
}
